<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../components/hypervideo-node/hypervideo-node.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<dom-module id="subject-composer-area">
  <style is="custom-style">
  #backcanvas {
    position: absolute;
    top: 75px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  #backcanvas canvas{
    width: 100%;
    height: 100%;
    background-color:rgba(220,220,220,0.2);/*var(--light-divider-color);*/
  }
  #toucharea {
    position: absolute;
    top: 100px;
    bottom: 35px;
    left: 35px;
    right: 35px;
    background-color:rgba(220,220,220,0.1);/*var(--light-divider-color);*/
    overflow: hidden;
  }
  #hint-text {
    width: 360px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -160px -180px;
    padding: 160px 0;
    border-radius: 50%;
    background-color:rgba(220,220,220,0.2);/*var(--light-divider-color);*/
    color: rgba(200,200,200,1);/*var(--light-divider-color);*/
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
  #overlay {
    width: 80%;
    height: 500px;
  }
  </style>
  <template>
    <paper-dialog id="overlay" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop><h1>subvideos virão aqui.</h1></paper-dialog>
    <paper-input id="subjectName"
    name="name"
    label="Nome do Curso"
    on-change="_updateSubject">
    </paper-input>
    <div id="backcanvas">
      <canvas id="canvas"></canvas>
    </div>
    <div id="toucharea"
    on-tap="composerTap">
      <template is="dom-if" if="{{firstTouch}}">
        <div id="hint-text">Clique para adicionar um hypervideo</div>
      </template>
    </div>
    <!-- this is where hypervideos will be displayed -->
  </template>

  <script>
    Polymer({
      is: 'subject-composer-area',
      composerTap: function(e) {
        this._updateSubject(e);
        this._createHypervideo(e);
        this.firstTouch = !(this.subject.hypervideos.length>0);
      },
      ready: function() {
        this.firstTouch = true;
        this.subject = null;
        this.hypervideos = new Array();
      },
      properties: {
        connectId: {
          type: String,
          value: null,
          notify: true,
          observer: "connectIdChanged"
        },
        subject: {
          type: Object,
          value: null,
        }
      },
      connectIdChanged: function (newConnectId) {
        var list = this.querySelectorAll('hypervideo-node');
        var length = list.length;
        for(var i=0; i<length; i++) {
          var hypervideo = list[i];
          hypervideo.connectId = newConnectId;
        }
      },
      _createHypervideo: function(e) {
        var self = this;
        var xOffset = 35; //depends on initial definition in toucharea css
        var yOffset = 100;//depends on initial definition in toucharea css
        // defines bounds and offset of dragging limits for a hypervideoNode
        var rect = self.$.toucharea.getBoundingClientRect();
        var bounds = {
          width: rect.right - rect.left,
          height: rect.bottom - rect.top,
          x: rect.left-xOffset,
          y: rect.top-yOffset
        }
        var touchX = e.detail.x - bounds.x;
        var touchY = e.detail.y - bounds.y;
        var subjectId = self.subject._id;
        var options = {
          x : touchX,
          y : touchY,
          bounds: bounds,
          subjectId: subjectId,
          connectId: this.connectId
        }
        var hypervideoNode = new HypervideoNode(options);

        hypervideoNode.addEventListener('connect-id-changed', function(ev){
          self._connectListener(this);
        });
        hypervideoNode.addEventListener('deleting-changed', function(ev){
          self._deletingListener(this);
        });
        self.appendChild(hypervideoNode);
        self.subject.addHypervideo(hypervideoNode.hypervideoId);
      },
      _updateSubject: function(e) {
        if(this.subject === null) {
          this.fire('subject-created');
        }
        if(this.subject) {
          if(this.$.subjectName.value === "") {
            this.$.subjectName.value = this.subject.name;
          } else if (this.$.subjectName.value !== this.subject.name) {
            this.subject.setName(this.$.subjectName.value);
            this.fire('subject-changed');
          }
        }
      },
      _connect: function(firstId, secondId) {
        var self = this;
        var canCreate = true;
        if(firstId !== secondId) {
          var connection = {first: firstId, second: secondId};
          if(self.subject.addConnection(connection)){
            self._resetConnecting();
            this.fire('subject-changed');
          }
        }
        self._drawConnections();
      },
      _drawConnections: function() {
        var self = this;
        var canvasScale = 3;
        var lineWidth = 4;
        var connections = self.subject.connections;
        var canvas = self.$.canvas;
        canvas.width  = canvasScale * canvas.offsetWidth;
        canvas.height = canvasScale * canvas.offsetHeight;
        var canvasXOffset = -25;
        var canvasYOffset = 40;
        var ctx = canvas.getContext("2d");

        ctx.beginPath();
        for(var i=0; i< connections.length; i++) {
          var conn = connections[i];
          //FIX ME find a better way to do it...
          var firstPos = self._findHypervideoNode(conn.first).getPos();
          var secondPos = self._findHypervideoNode(conn.second).getPos();
          var x1 = canvasScale * (firstPos.x - canvasXOffset);
          var y1 = canvasScale * (firstPos.y - canvasYOffset);
          var x2 = canvasScale * (secondPos.x - canvasXOffset);
          var y2 = canvasScale * (secondPos.y - canvasYOffset);
          ctx.moveTo(x1, y1);
          ctx.lineTo(x2, y2);
        }
        ctx.lineWidth = lineWidth;
        ctx.stroke();
      },
      //hypervideo listener functions
      _connectListener: function(hnInstance) {
        var self = this;
        self.connectId = hnInstance.connectId;

        if(self.connectId) {
          if(!self._firstId) {
            self._firstId = self.connectId;
          } else {
            self._connect(self._firstId, self.connectId);
          }
        } else {
          self._firstId = self.connectId;
        }
      },
      _deletingListener: function(hnInstance) {
        var self = this;
        self.deleting = hnInstance.deleting;
        self.subject.removeHypervideo(hnInstance.hypervideoId);
        self.removeChild(hnInstance);
        self._resetConnecting();
        console.log(self.subject);
      },
      _findHypervideoNode: function(id) {
        var self = this;
        return self.querySelector('#_'+id);
      },
      toggle: function() {
        this.$.overlay.open();
		  },
      _resetConnecting: function(){
        var self = this;
        self.connectId = null;
        self._firstId = null;
      },
    });
  </script>
</dom-module>
