<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="hyper-player">
  <style media="screen">
  </style>
  <template>
    <div id="wrapper"
    on-mouseover="onHover"
    on-mouseout="onHout">
      <video id="video" width="50%" controls autoplay>
        <source src="{{source}}" type="video/mp4">
        <source src="{{source}}" type="video/ogg">
      </video>
    </div>
  </template>
  <script>
    Polymer({
//======================== Polymer Component Methods =========================//
      is: 'hyper-player',
      properties: {
        source: {
          type: String,
        }
      },
    });
  </script>
</dom-module>
