<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="hyper-player">
  <style media="screen">
    #video {
      width: 100%;
      height: 295px;
      z-index: -100;
      background-size: cover;
      background: black;
      overflow: hidden;
    }
    #notes {
      margin-top: -20px;
      padding-top: 20px;
      height: 100%;
      background-image:
        linear-gradient(to bottom, white, white 35px, rgba(0,0,0,0) 0),
        repeating-linear-gradient(#CDCDCD, #CDCDCD 1px, white 0, white 24px);
    }
    .text-container {
      overflow: scroll;
      min-height: 120px;
      height: calc( 100vh - 420px );
    }
    h5 {
      font-size: 20px;
      margin: 12px 0;
    }
    @media screen and (max-width: 780px) {
      #video {
        min-width: 100%;
      }
      #notes {
        width: 100%;
      }
    }
  </style>
  <template>
    <div class="wrapper">
      <h5>{{subvideo.name}}</h5>
      <video id="video" controls autoplay name="media">
        <source src="{{subvideo.source}}" type="video/mp4">
      </video>
      <div class="text-container">
        <paper-textarea id="notes" label="Anotações do hypervideo" value="{{notes}}"></paper-textarea>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'hyper-player',
      properties: {
        poster:{
          type: String,
          value: ''
        },
        subvideo: {
          type: Object,
          observer: 'subvideoChanged'
        },
        notes: {
          type: String,
        },
        hypervideo: {
          type: Object,
          observer: "hypervideoChanged",
          notify: true
        },
        subvideos: {
          type: Array,
          value: function() {
            return [];
          },
          notify: true
        },
        questions: {
          type: Array,
          value: function() {
            return [];
          },
          notify: true
        },
        connections: {
          type: Array,
          default: function() {
            return [];
          }
        },
      },
      hypervideoChanged: function() {
        this.fire('get-subvideos');
        this.fire('get-questions');
        this.getSource();
      },
      getSource: function() {
        this.fire('get-source-subvideo');
      },
      subvideoChanged: function() {
        this.$.video.src = this.subvideo.source;
        this.$.video.load();
        this.$.video.play();
      }
    });
  </script>
</dom-module>
