<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../components/subject-preview/subject-preview.html">

<dom-module id="subject-box">
  <style>
    #mainPanel {
      float: left;
      width: calc(50% - 10px);
      margin: 15px 5px;
      height: 340px;
    }
    #mainPanel paper-toolbar {
      font-size: 15px;
      line-height: 10px;
      height: 40px;
      width: 90%;
      padding: 0 5%;
      color: #616161;
      background-color: rgba(246,246,246,1);/*var(--light-divider-color);*/
    }
    #mainPanel paper-toolbar p {
      width: 49%;
      display: inline-block;
      white-space: nowrap;
    }
    #mainPanel paper-toolbar span {
      width: 49%;
      text-align: right;
      display: inline-block;
    }
    #mainPanel paper-toolbar paper-icon-button {
      margin: 5px -3px;
      padding: 5px;
    }
    #mainPanel subject-preview {
      height: 320px;
    }
    #mainPanel .progress {
      position: absolute;
      top: 270px;
      width: 100%;
    }
    .progress span {
      margin-left: 5px;
    }
    .progress progress {
      position: absolute;
      top: 25px;
      left: 0;
      height: 5px;
      width: 100%;
      -webkit-appearance: none;
      background-color: rgba(240,240,240,1);/*var(--light-divider-color);*/
    }
    progress::-webkit-progress-bar {
      background-color: rgba(240,240,240,1);/*var(--light-divider-color);*/
    }
    progress::-webkit-progress-value {
      background-color: #FFC107;
    }
    @media screen and (max-width: 800px) {
      #mainPanel {
        width: calc(100% - 10px);
      }
    }
  </style>
  <template>
    <paper-card id="mainPanel">
    <paper-header-panel mode="seamed">
      <paper-toolbar>
        <p>{{subject.name}}</p>
        <span>
          <paper-icon-button icon="av:play-circle-filled" on-tap="watchSubject"></paper-icon-button>
          <template is="dom-if" if="{{subject.inLibrary}}">
            <paper-icon-button icon="hyper:folder-remove" on-tap="removeFromLib"></paper-icon-button>
          </template>
          <template is="dom-if" if="{{!subject.inLibrary}}">
            <paper-icon-button icon="hyper:folder-add" on-tap="addToLib"></paper-icon-button>
          </template>
        </span>
      </paper-toolbar>
      <subject-preview id="preview" subject="{{subject}}" hypervideos="{{hypervideos}}"></subject-preview>
      <div class="progress">
        <span>{{progress}}</span> % concluído
        <progress value="{{progress}}" max="100"></progress>
      </div>
    </paper-header-panel>
  </paper-card>
  </template>
  <script>
  Polymer({
    is: 'subject-box',
    properties: {
      subject: {
        type: Object,
        value: null,
        observer: "subjectChanged"
      },
      hypervideos: {
        type: Array,
        value: function() {
          return [];
        },
      },
      progress: {
        type: Number,
        value: 50
      }
    },
    listeners: {
      'iron-resize': '_onIronResize'
    },
    behaviors: [
      Polymer.IronResizableBehavior
    ],
    attached: function() {
      var self = this;
      self.subjectChanged();
    },
    subjectChanged: function() {
      var self = this;
      if (self.subject) {
        self.fire('get-hypervideos');
      }
    },
    watchSubject: function() {
      this.fire("watch-subject");
    },
    removeFromLib: function() {
      this.subject.inLibrary = !this.subject.inLibrary;
      this.fire("remove-library-subject");
    },
    addToLib: function() {
      this.subject.inLibrary = !this.subject.inLibrary;
      this.fire('add-library-subject');
    },
    _onIronResize: function() {
      this.$.preview.onResize();
    },
  });
  </script>
</dom-module>
