@import url(http://fonts.googleapis.com/css?family=Muli);
* :focus {
  outline: none;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  -webkit-user-select: none;
}

.list-inline {
  display: inline;
  text-decoration: none;
  padding: 0;
}
/*------------------------------- drawer panel -------------------------------*/
#drawerPanel [main] {
  background-color: #ffffff;/*var(--drawer-menu-color);*/
}
#drawerPanel [drawer] {
  background-color: #ffffff;/*var(--drawer-menu-color);*/
  border-right: 1px solid #B3B3B3;/*var(--divider-color);*/
}
#drawerPanel[right-drawer] [drawer] {
  border-left: 1px solid #DCDCDC;/*var(--light-divider-color);*/
}
/*---------------------------------- main ------------------------------------*/
#mainHeaderPanel paper-toolbar {
  background-color: #455A64;/*var(--dark-primary-color);*/
  height: 65px;
  padding: 0 0 0 20px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  line-height: 15px;
}
#mainHeaderPanel [main-content] {
  background-color: #ffffff;/*var(--drawer-menu-color);*/
  margin: 7px;
}

/*--------------------------------- drawer -----------------------------------*/
#drawerHeaderPanel paper-toolbar {
  background-color: #DCDCDC;/*var(--light-divider-color);*/
  height: 65px;
  font-size: 22px;
  color: #727272;/*var(--secondary-text-color);*/
  border-bottom: 1px solid #B3B3B3;/*var(--divider-color);*/
}
#drawerHeaderPanel [menu-content] paper-menu {
  padding: 0;
  background-color: #ffffff;/*var(--drawer-menu-color);*/
}
#drawerHeaderPanel [menu-content] a {
  text-decoration: none;
}
#drawerHeaderPanel [menu-content] paper-item {
  cursor: pointer;
  color: #616161;
  border-bottom: 1px solid #DCDCDC;/*var(--light-divider-color);*/
}
#drawerHeaderPanel [menu-content] paper-item:active {
  background-color: #DCDCDC;/*var(--light-divider-color);*/
}
#drawerHeaderPanel #highlighted {
  background-color: #FFC107;/*var(--accent-color);*/
  margin: 6px;
  min-height: 35px;
  line-height: 30px;
  border: 0;
  border-radius: 5px;
  color: #fff;/*var(--paper-input-container-input-color)*/
  padding: 0 10px;
}
#drawerHeaderPanel #logo {
  height: 35px;
  width: 30px;
  margin: 13px 5px 13px 13px;
}

#dropShadow.has-shadow.paper-header-panel {
  z-index: 9;
}

/*---------------------------------- menus -----------------------------------*/
.topbar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.topbar-menu li {
  display: inline-block;
}

.topbar-menu li:last-child {
  line-height: 60px;
  font-size: 16px;
  float: right;
  text-align: right;
}

.topbar-menu li:last-child a {
  margin-right: 20px;
  text-decoration: none !important;
}

.topbar-menu li:last-child #login-dropdown-list {
  margin-left: -200px;
  color: #616161;
}

.topbar-menu li:last-child .login-close-text {
  float: right !important;
}

.sidebar-menu iron-icon {
  margin: 0 15px 0 0;
}

/*--------------------------------- inputs -----------------------------------*/
.label-is-highlighted.paper-input-container label{
  color: #FFC107  !important;/*var(--accent-color);*/
}
.focused-line.paper-input-container {
  background-color: #FFC107  !important;/*var(--accent-color);*/
}

/*--------------------------------- login ------------------------------------*/
#login-buttons .login-button, .accounts-dialog .login-button {
  font-family: 'Muli', sans-serif;
  line-height: 2;
  background-color: #DCDCDC;
  color: #727272;
  border: 0;
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  background-color: #DCDCDC;
}

paper-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

iron-autogrow-textarea {
  background-image:
    repeating-linear-gradient(#CDCDCD, #CDCDCD 1px, white 0, white 24px) !important;
}

.paper-tabs #selectionBar {
    background-color: #FFC107  !important;/*var(--accent-color);*/
}
