/* CSS declarations go here */
/*@import url(http://fonts.googleapis.com/css?family=Muli);*/

:root {
  --dark-primary-color:       #455A64;
  --default-primary-color:    #607D8B;
  --light-primary-color:      #CFD8DC;
  --text-primary-color:       #FFFFFF;
  --accent-color:             #FFC107;
  --sec-accent-color:         #D23216;
  --trd-accent-color:         #12AE28;
  --primary-background-color: #CFD8DC;
  --primary-text-color:       #212121;
  --secondary-text-color:     #727272;
  --disabled-text-color:      #BDBDBD;
  --divider-color:            #B3B3B3;
  --light-divider-color:      #DCDCDC;


  /* Components */

  /* paper-drawer-panel */
  --drawer-menu-color:           #ffffff;
  --drawer-border-color:         1px solid #ccc;
  --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);

  /* paper-menu */
  --paper-menu-background-color: #fff;
  --menu-link-color:             #111111;

  /* paper-input */
 --paper-input-container-color:       rgba(255, 255, 255, 0.64);
 --paper-input-container-focus-color: rgba(255, 255, 255, 1);
 --paper-input-container-input-color: #fff;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  /*FIX ME - find a better way to do this*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.list-inline {
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/*------------------------------- drawer panel -------------------------------*/
#drawerPanel [main] {
  background-color: #ffffff;/*var(--drawer-menu-color);*/
}
#drawerPanel [drawer] {
  background-color: #ffffff;/*var(--drawer-menu-color);*/
  border-right: 1px solid #B3B3B3;/*var(--divider-color);*/
}
#drawerPanel[right-drawer] [drawer] {
  border-left: 1px solid #DCDCDC;/*var(--light-divider-color);*/
}
/*---------------------------------- main ------------------------------------*/
#mainHeaderPanel paper-toolbar {
  background-color: #455A64;/*var(--dark-primary-color);*/
  height: 65px;
  padding: 0 0 0 20px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  line-height: 15px;
}
#mainHeaderPanel [main-content] {
  background-color: #ffffff;/*var(--drawer-menu-color);*/
  margin: 7px;
}

/*--------------------------------- drawer -----------------------------------*/
#drawerHeaderPanel paper-toolbar {
  background-color: #DCDCDC;/*var(--light-divider-color);*/
  height: 65px;
  font-size: 22px;
  color: #727272;/*var(--secondary-text-color);*/
  border-bottom: 1px solid #B3B3B3;/*var(--divider-color);*/
}
#drawerHeaderPanel [menu-content] paper-menu {
  padding: 0;
  background-color: #ffffff;/*var(--drawer-menu-color);*/
}
#drawerHeaderPanel [menu-content] a {
  text-decoration: none;
}
#drawerHeaderPanel [menu-content] paper-item {
  cursor: pointer;
  color: #616161;
  border-bottom: 1px solid #DCDCDC;/*var(--light-divider-color);*/
}
#drawerHeaderPanel [menu-content] paper-item:active {
  background-color: #DCDCDC;/*var(--light-divider-color);*/
}
#drawerHeaderPanel #highlighted {
  background-color: #FFC107;/*var(--accent-color);*/
  margin: 6px;
  min-height: 35px;
  line-height: 30px;
  border: 0;
  border-radius: 5px;
  color: #fff;/*var(--paper-input-container-input-color)*/
  padding: 0 10px;
}
#drawerHeaderPanel #logo {
  height: 35px;
  width: 30px;
  margin: 13px 5px 13px 13px;
}

.topbar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.topbar-menu li {
  display: inline-block;
}

.topbar-menu li:last-child {
  line-height: 60px;
  font-size: 16px;
  float: right;
  text-align: right;
}

.topbar-menu li:last-child a {
  margin-right: 20px;
  text-decoration: none !important;
}

.topbar-menu li:last-child #login-dropdown-list {
  margin-left: -200px;
  color: #616161;
}

.topbar-menu li:last-child .login-close-text {
  float: right !important;
}

.sidebar-menu iron-icon {
  margin: 0 15px 0 0;
}

/*--------------------------------- drawer -----------------------------------*/
.label-is-highlighted.paper-input-container label{
  color: #FFC107  !important;/*var(--accent-color);*/
}
.focused-line.paper-input-container {
  background-color: #FFC107  !important;/*var(--accent-color);*/
}

#login-buttons .login-button, .accounts-dialog .login-button {
  line-height: 2;
  background-color: #FFC107;
  border: 0;
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  background-color: #FFC107;
}

#dropShadow.has-shadow.paper-header-panel {
  z-index: 9;
}

paper-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
