<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="connection-node">
  <style is="custom-style">
    #icon {
      height: 20px;
      width: 20px;
      color: #fff;
      background: #D23216;/*--sec-accent-color*/
      border-radius: 50%;
      margin: 0;
    }
  </style>
  <template>
    <iron-icon id="icon" icon="close" on-tap="remove"></iron-icon>
  </template>
  <script>
    ConnectionNode = Polymer({
      is: 'connection-node',
      properties: {
        connection: Object,
        connectId: {
          type: String,
          observer: "toggle"
        }
      },
      ready: function () {
        this.style.position = "absolute";
      },
      toggle: function() {
        if(this.connectId === this.connection.first ||
          this.connectId === this.connection.second) {
          this.style.display = "block";
          return true;
        } else {
          this.style.display = "none";
          return false;
        }
      },
      remove: function() {
        this.fire('detached');
        this.parentNode.removeChild(this);
      },
      factoryImpl: function(conn){
        this.connection = conn;
      },
      moveToPos: function() {
        this.style.left = this._x + "px";
        this.style.top = this._y + "px";
      },
      setPos: function(x,y) {
        this._w = this.$.icon.offsetWidth;
        this._x = x - this._w/2;
        this._y = y - this._w/2;
        this.moveToPos();
      },
    });
  </script>
</dom-module>
