<!--
  This compoenent handles de creation and edition of the content of
  a Hypervideo. It encapsulate the options of a node of the Subject,
  like creating, moving, edtiting, deleting, and connecting. It's
  content composition is handled by a custom component:
    - hypervideo composer area.

  This needed component was created in order to uncouple the view. They
  are listed below in costom implemented components.
-->

<!-- Polymer components used -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<!-- Custom implemented components -->
<link rel="import" href="../../components/hypervideo-composer-area/hypervideo-composer-area.html">

<dom-module id="hypervideo-node">
  <style is="custom-style">
    #wrapper {
      position: absolute;
    }
    #icon {
      position: absolute;
      padding: 25px 23px;
      line-height: 10px;
      border-radius: 50%;
      background-color:#DCDCDC;/*var(--light-divider-color);*/
      color: #212121;/*var(--light-divider-color);*/
      text-align: center;
      font-size: 19px;
      font-weight: bold;
      cursor: pointer;
      z-index: 1;
    }
    #connect {
      position: absolute;
      left:3px;
      top:-1px;
      width: 16px;
      height: 16px;
      line-height: 10px;
      border-radius: 50%;
      background-color:#FFC107;/*var(--accent-color);*/
      color: #FFC107;/*var(--accent-color);*/
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      margin:0;
      padding: 1px;
      z-index: 2;
    }
    #delete {
      position: absolute;
      left:-7px;
      top:14px;
      width: 15px;
      height: 16px;
      line-height: 10px;
      border-radius: 50%;
      background-color:#D23216;/*var(--sec-accent-color);*/
      color: #D23216;/*var(--sec-accent-color);*/
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      margin:0;
      padding: 1px;
      z-index: 2;
    }
    #edit {
      position: absolute;
      left:21px;
      top:-6px;
      width: 12px;
      height: 12px;
      line-height: 10px;
      border-radius: 50%;
      background-color: #12AE28;/*var(--trd-accent-color);*/
      color: #12AE28;/*var(--trd-accent-color);*/
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      margin:0;
      padding: 3px;
      z-index: 2;
    }
    #preview {
      position: absolute;
      left:25px;
      top:25px;
      width: 120px;
      height: 70px;
      background: #212121;
      display: none;
      z-index: 0;
    }
    #composerdialog {
      width: 100%;
      height: 550px;
    }
  </style>
  <template>
    <paper-dialog id="composerdialog"
      entry-animation="scale-up-animation"
      exit-animation="scale-down-animation"
      with-backdrop modal>
      <hypervideo-composer-area id="hypervideocomposer">
      </hypervideo-composer-area>
    </paper-dialog>
    <div id="wrapper"
    class="animated fadeIn"
    on-mouseover="onHover"
    on-mouseout="onHout">
      <div id="preview">
      </div>
      <div id="icon"
      on-tap="onIconTap"
      on-track="onIconTrack">H</div>

      <iron-icon id="connect"
      class="animated fadeIn"
      on-tap="onConnectTap"
      icon="add"></iron-icon>
      <iron-icon id="delete"
      class="animated fadeIn"
      on-tap="onDeleteTap"
      icon="close"></iron-icon>

      <iron-icon id="edit"
      class="animated fadeIn"
      on-tap="onEditTap"
      icon="build"></iron-icon>
    </div>
  </template>
  <script>
    HypervideoNode = Polymer({
//======================== Polymer Component Methods =========================//
      is: 'hypervideo-node',
      properties: {
        // when connecting hypervideos, this property
        // catches the ids for creating connections
        connectId: {
          type: String,
          notify: true,
          observer: "handleConnectId"
        },
        // if any hypervideo is being dragged, this
        // property handles the redraw of connections
        dragging: {
          type: Boolean,
          notify: true,
        },
        // if any hypervideo is being deleted, this
        // property handles the confirmation request
        deleting: {
          type: Boolean,
          notify: true,
        },
        // property that holds the model element: a Hypervideo
        hypervideo: {
          type: Object,
          value: null,
        }
      },
      factoryImpl: function(options) {
        this._bounds = options.bounds;
        this._x = options.x;
        this._y = options.y;
        this.hypervideo = null;
        this.connectId = options.connectId;
      },
      attached: function() {
        Polymer.dom.flush();
        this._w = this.$.icon.clientWidth;
        this._x -= this._w/2;
        this._y -= this._w/2;
        this.$.wrapper.style.left = this._x+"px";
        this.$.wrapper.style.top = this._y+"px";
        this.fire('hypervideo-created');
        this.id = "_"+this.hypervideo._id;
        this.hypervideoId = this.hypervideo._id;
      },
//============================= Public Methods ===============================//
      handleConnectId: function() {
        var className = this.$.icon.className;
        if(this.connectId) {
          this.$.icon.style.background = "#FFC107";
          if (this.connectId === this.hypervideoId) {
            if(!this._shaking){
              this._shaking = true;
              this.$.icon.className = className.concat(" animated infinite shake");
            }
          }
          else {
            this._shaking = false;
            this.$.icon.className = className.replace(" animated infinite shake","");
          }
        }
        else {
          this._shaking = false;
          this.$.icon.className = className.replace(" animated infinite shake","");
          this.$.icon.style.background = "#DCDCDC";
        }
      },
      getPos(){
        return {
          x: this._x + this._w/2,
          y: this._y + this._w/2,
        };
      },
      onIconTap: function(e) {
        if(this.connectId) {
          this.onConnectTap(e);
        } else {
          this._showPreview();
        }
      },
      onIconTrack: function(e) {
        switch (e.detail.state) {
          case 'start':
            this._iconTrackStart(e);
            break;
          case 'track':
            this._iconTrackXY(e);
            break;
          case 'end':
            this._iconTrackEnd();
            break;
        }
      },
      onConnectTap: function(e) {
        if(this.connectId && this.connectId === this.hypervideoId){
          this.connectId = null;
        } else {
          this.connectId = this.hypervideoId;
        }
        this.handleConnectId();
      },
      onDeleteTap: function(e) {
        if(!this.deleting) {
          this.fire('hypervideo-deleted');
          this.deleting = true;
        }
      },
      onEditTap: function(e) {
        this._openComposer();
      },
      onHover: function(e) {
        this.$.delete.style.display = "block";
        this.$.connect.style.display = "block";
        this.$.edit.style.display = "block";
        if(e.target.id !== "icon") {
          e.target.style.color = "#FFF";
        }
      },
      onHout: function(e) {
        this.$.delete.style.display = "none";
        this.$.connect.style.display = "none";
        this.$.edit.style.display = "none";
        if(e.target.id !== "icon") {
          e.target.style.color = e.target.style.backgroundColor;
        }
      },
//============================= Private Methods ==============================//
      _iconTrackStart: function(e) {
        this.$.icon.style.cursor = "move";
        this.dragging = true;
      },
      _iconTrackXY: function(e) {
        var ddx = e.detail.ddx || 0;
        var ddy = e.detail.ddy || 0;
        this._x+= ddx;
        this._y+= ddy;
        this._x = (this._x > this._bounds.width)
          ?this._bounds.width : this._x;
        this._x = (this._x < 20)?20 : this._x;
        this._y = (this._y > this._bounds.height+this._bounds.y)
          ?this._bounds.height+this._bounds.y : this._y;
        this._y = (this._y < this._bounds.y + 20)
          ?this._bounds.y + 20 : this._y;

        this.$.wrapper.style.left = this._x+"px";
        this.$.wrapper.style.top = this._y+"px";
      },
      _iconTrackEnd: function() {
        this.hypervideo.x = this._x;
        this.hypervideo.y = this._y;
        this.$.icon.style.cursor = "pointer";
        this.dragging = false;
        this.fire('hypervideo-changed');
      },
      _showPreview: function() {
        if(this.$.preview.style.display !== "block") {
          this.$.preview.style.display = "block";
        }
        else {
          this.$.preview.style.display = "none";
        }
      },
      _openComposer: function() {
        this.$.hypervideocomposer.hypervideo = this.hypervideo;
        this.$.composerdialog.open();
      },
    });
  </script>
</dom-module>
