<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="hypervideo-node">
  <style is="custom-style">
  #hypervideo {
    position: absolute;
    max-height: 50px;
  }
  #data {
    position: absolute;
    max-width: 50px;
    max-height: 50px;
    padding: 25px 23px;
    line-height: 10px;
    border-radius: 50%;
    background-color:#DCDCDC;/*var(--light-divider-color);*/
    color: #212121;/*var(--light-divider-color);*/
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
  }
  #link {
    position: absolute;
    left:3px;
    top:-1px;
    max-width: 96px;
    max-height: 16px;
    padding: 3px 4px 4px 4px;
    line-height: 10px;
    border-radius: 50%;
    background-color:#FFC107;/*var(--accent-color);*/
    color: #FFC107;/*var(--accent-color);*/
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
  }
  #delete {
    position: absolute;
    left:-7px;
    top:14px;
    max-width: 96px;
    max-height: 16px;
    padding: 3px 5.5px 4px 5.5px;
    line-height: 10px;
    border-radius: 50%;
    background-color:#D23216;/*var(--sec-accent-color);*/
    color: #D23216;/*var(--sec-accent-color);*/
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
  }
  #edit {
    position: absolute;
    left:21px;
    top:-6px;
    max-width: 96px;
    max-height: 16px;
    padding: 3px 5px 4px 5px;
    line-height: 10px;
    border-radius: 50%;
    background-color: #12AE28;/*var(--trd-accent-color);*/
    color: #12AE28;/*var(--trd-accent-color);*/
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
  }
  #subvideos {
    position: absolute;
    left:25px;
    top:25px;
    width: 120px;
    height: 70px;
    background: #212121;
    display: none;
    z-index: 0;
  }
  </style>
  <template>
    <div id="hypervideo"
    class="animated fadeIn"
    on-mouseover="_onHover"
    on-mouseout="_onHout">
      <div id="subvideos"></div>

      <div id="data"
      on-tap="_onDataTap"
      on-track="_onDataTrack">H</div>

      <div id="link"
      class="animated fadeIn"
      on-tap="_onLinkTap">+</div>

      <div id="delete"
      class="animated fadeIn"
      on-tap="_onDeleteTap">x</div>

      <div id="edit"
      class="animated fadeIn"
      on-tap="_onEditTap">e</div>
    </div>
  </template>
  <script>
    HypervideoNode = Polymer({
      is: 'hypervideo-node',
      // Polymer factory implementation
      factoryImpl: function(options) {
        this._bounds = options.bounds;
        this._x = options.x;
        this._y = options.y;
        this._del = false;
        this._hypervideo = null;
        this._subjectId = options.subjectId;
        this.connectId = options.connectId;
      },
      // fired when element is attached to DOM
      // used to get element properties like bounds
      // and position relative to document
      attached: function() {
        Polymer.dom.flush();
        this._w = this.$.data.clientWidth;
        this._x -= this._w/2;
        this._y -= this._w/2;
        this.$.hypervideo.style.left = this._x+"px";
        this.$.hypervideo.style.top = this._y+"px";
        // event fired so that Meteor can handle the creation
        // and persistence of a new instance of hypervideo
        this.fire('hypervideo-created');
        this.id = this._hypervideo._id;
        console.log(this.id);
      },
      properties: {
        connectId: {
          type: String,
          notify: true,
          observer: "handleConnectId"
        },
        deleting: {
          type: Boolean,
          notify: true,
        }
      },
      // handle taping
      _onDataTap: function(e) {
        if(this.connectId) {
          this._onLinkTap(e);
        } else {
          this._showPreview();
        }
      },
      // handle tracking
      _onDataTrack: function(e) {
        switch (e.detail.state) {
          case 'start':
            this._dataTrackStart(e);
            break;
          case 'track':
            this._dataTrackXY(e);
            break;
          case 'end':
            this._dataTrackEnd();
            break;
        }
      },
      _dataTrackStart: function(e) {
        this.$.data.style.cursor = "move";
      },
      _dataTrackXY: function(e) {
        var ddx = e.detail.ddx || 0;
        var ddy = e.detail.ddy || 0;
        this._x+= ddx;
        this._y+= ddy;

        this._x = (this._x > this._bounds.width)?this._bounds.width : this._x;
        this._x = (this._x < 20)?20 : this._x;
        this._y = (this._y > this._bounds.height+this._bounds.y)?this._bounds.height+this._bounds.y : this._y;
        this._y = (this._y < this._bounds.y + 20)?this._bounds.y + 20 : this._y;

        this.$.hypervideo.style.left = this._x+"px";
        this.$.hypervideo.style.top = this._y+"px";
      },
      _dataTrackEnd: function() {
        this._hypervideo.x = this._x;
        this._hypervideo.y = this._y;
        this.$.data.style.cursor = "pointer";

        this.fire('hypervideo-changed');
      },
      // handle hovering
      _onHover: function(e) {
        this.$.delete.style.display = "block";
        this.$.link.style.display = "block";
        this.$.edit.style.display = "block";
        if(e.target.id !== "data") {
          e.target.style.color = "#FFF";
        }
      },
      _onHout: function(e) {
        this.$.delete.style.display = "none";
        this.$.link.style.display = "none";
        this.$.edit.style.display = "none";
        if(e.target.id !== "data") {
          e.target.style.color = e.target.style.backgroundColor;
        }
      },
      // Toggle connectId mode
      _onLinkTap: function(e) {
        if(this.connectId && this.connectId === this.id){
            this.connectId = null;
        } else {
          this.connectId = this.id
        }
        this.handleConnectId();
      },
      // Delete Node
      _onDeleteTap: function(e) {
        if(!this.deleting) {
          this.fire('hypervideo-deleted');
          this.deleting = true;
        }
      },

      _onEditTap: function(e) {
        this.parentNode.toggle();

      },
      handleConnectId: function() {
        if(this.connectId) {
          this.$.data.style.background = "#FFC107";
        }
        else {
          this.$.data.style.background = "#DCDCDC";
        }
      },
      _showPreview: function() {
        if(this.$.subvideos.style.display !== "block") {
          this.$.subvideos.style.display = "block";
        }
        else {
          this.$.subvideos.style.display = "none";
        }
      },
      getPos(){
        return {
          x: this._x,
          y: this._y,
        };
      },
    });
  </script>
</dom-module>
