<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">

<link rel="import" href="../../components/subject-box/subject-box.html">

<dom-module id="subjects-list">
  <style>
  </style>
  <template>
    <template is="dom-repeat" items="{{subjects}}" as="subject">
      <subject-box subject="{{subject}}">
      </subject-box>
    </template>
  </template>
  <script>
  Polymer({
    is: 'subjects-list',
    properties: {
      subjects: {
        type: Array,
        value: function() {
          return [];
        },
      }
    },
    attached: function() {
      var self = this;
      console.log('get-subjects');
      setTimeout(function(){
         self.fire('get-subjects');
      },1);
    }
  });
  </script>
</dom-module>
