<template name="mainMenu">
  <paper-drawer-panel id="drawerPanel" drawer-width="200px">
    <!-- SIDEBAR MENU -->
    <div drawer>
      <paper-header-panel id="drawerHeaderPanel" mode="seamed">
        <!-- LOGO -->
        <paper-toolbar>
          <a id="home" href="{{pathFor 'home'}}">
            <iron-icon id="logo" src="/img/logo2@2x.png"></iron-icon>
            Hypervideos
          </a>
        </paper-toolbar>
        <!-- MENU OPTIONS -->
        <div menu-content>
          <paper-menu class="sidebar-menu">
            <a href="{{pathFor 'subjects'}}">
              <paper-item id="subjects" on-tap="">
                <iron-icon icon="bookmark"></iron-icon>
                Meus Cursos
              </paper-item>
            </a>
            <a href="{{pathFor 'profile'}}">
              <paper-item id="profile">
                <iron-icon icon="account-box"></iron-icon>
                Perfil
              </paper-item>
            </a>
            <a href="{{pathFor 'home'}}">
              <paper-item id="explore">
                <iron-icon icon="social:public"></iron-icon>
                Explorar
              </paper-item>
            </a>
            <a href="{{pathFor 'subjectPanel'}}">
              <paper-item id="highlighted">
                <iron-icon icon="create"></iron-icon>
                Novo Curso
              </paper-item>
            </a>
          </paper-menu>
        </div>
      </paper-header-panel>
    </div>
    <!-- MAIN CONTENT & TOPBAR -->
    <div main>
      <paper-header-panel id="mainHeaderPanel">
        <!-- TOPBAR MENU -->
        <paper-toolbar>
          <ul class="topbar-menu">
            <li>
              {{>title}}
            </li>
            <li>
              {{>loginButtons}}
            </li>
          </ul>
        </paper-toolbar>
        <!-- MAIN CONTENT -->
        <div main-content>
          {{> yield}}
        </div>
      </paper-header-panel>
      <toast-notify id="notify" connected={{connected}}>
      </toast-notify>
    </div>
  </paper-drawer-panel>
</template>
