<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="subvideo-composer">
  <style media="screen">
    #wrapper {
      position: relative;
      height: auto;
      color: #12AE28;
      width: 92%;
      padding: 5px 10px 0 10px;
    }
    .title-bar .left {
      width: 70%;
      float: left;
    }
    .title-bar .right {
      width: 30%;
      float: right;
    }
    p {
      margin: 0px;
      padding: 10px 5px 0 0;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #toggle {
      width: 100%;
      height: 0;
      overflow: hidden;

      -webkit-transition:all .2s ease;
      -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
      -o-transition:all .2s ease;
      transition:all .2s ease;
    }
    paper-slider.green {
      --paper-slider-knob-color: #12AE28;
      --paper-slider-active-color: #12AE28;
      --paper-slider-pin-color: #12AE28;
    }
  </style>
  <template>
    <div id="wrapper">
      <div class="title-bar">
        <div class="left">
          <p>{{name}}</p>
        </div>
        <div class="right">
          <template is="dom-if" if="{{!opened}}">
            <paper-icon-button icon="expand-more"
            class="animated fadeIn"
            on-tap="toggleDetails"></paper-icon-button>
          </template>
          <template is="dom-if" if="{{opened}}">
            <paper-icon-button icon="expand-less"
            class="animated fadeIn"
            on-tap="toggleDetails"></paper-icon-button>
          </template>
        </div>
      </div>
      <div id="toggle">
        <paper-input id="subvideoName"
          name="name"
          label="Nome do Subvideo"
          value="{{subvideo.name}}"
          on-change="updateSubvideoName">
        </paper-input>
        <paper-textarea id="subvideoDescription"
          name="description"
          label="Descrição do Subvideo"
          value="{{subvideo.description}}"
          on-change="updateSubvideoDescription">
        </paper-textarea>
        <span>visibilidade</span>
        <paper-slider pin
          value="{{subvideo.visibility}}"
          class="green" min="1" max="5"
          on-change="visibilityChanged">
        </paper-slider>
        <paper-button on-tap="subvideoDeleted">
          <iron-icon icon="delete"
          class="animated fadeIn"></iron-icon>
          Deletar Subvídeo
        </paper-button>
      </div>
    </div>
  </template>
  <script>
    subvideoComposer = Polymer({
      is: 'subvideo-composer',
      properties: {
        subvideo: {
          type: Object,
          observer: "subvideoChanged",
          notify: true
        },
        name: {
          type: String,
          notify: true
        },
        opened: {
          type: Boolean,
          value: false
        }
      },
      ready: function () {
        var self = this;
        self.subvideoChanged();
      },
      toggleDetails: function() {
        var margin = 15;
        var height = this.$.toggle.scrollHeight + margin;
        if(this.opened) {
          this.$.toggle.style.height = "0";
        }
        else {
          this.$.toggle.style.height = height+"px";
        }
        this.opened = !this.opened;
      },
      updateSubvideoName: function(e) {
        var input = e.target;
        this.name = input.value;
        this.subvideo.name = this.name;
        this.fire('subvideo-changed');
      },
      updateSubvideoDescription: function(e) {
        var input = e.target;
        this.subvideo.description = input.value;
        this.fire('subvideo-changed');
      },
      visibilityChanged: function(e) {
        var input = e.target;
        this.subvideo.visibility = input.value;
        this.fire('subvideo-changed');
      },
      subvideoDeleted: function () {
        this.fire('subvideo-deleted');
      },
      subvideoChanged: function() {
        var self = this;
        if(self.subvideo) {
          self.name = self.subvideo.name;
        }
        else {
          this.remove();
        }
      },
    });
  </script>
</dom-module>
