<template name="mainMenu">
  <paper-drawer-panel id="drawerPanel">
    <!-- SIDEBAR MENU -->
    <div drawer>
      <paper-header-panel id="drawerHeaderPanel" mode="seamed">
        <!-- LOGO -->
        <paper-toolbar>
          <iron-icon id="logo" src="img/logo2@2x.png"></iron-icon>
          Hypervideos
        </paper-toolbar>
        <!-- MENU OPTIONS -->
        <div menu-content>
          <paper-menu selected="{{activePanel}}">
            <paper-item id="subjects">
              <iron-icon icon="content-cut"></iron-icon>
              Meus Cursos
            </paper-item>
            <paper-item id="profile">
              <iron-icon icon="content-cut"></iron-icon>
              Perfil
            </paper-item>
            <paper-item id="explore">
              <iron-icon icon="content-cut"></iron-icon>
              Explorar
            </paper-item>
            <paper-item id="highlighted">
              <iron-icon icon="content-cut"></iron-icon>
              Novo Curso
            </paper-item>
          </paper-menu>
        </div>
      </paper-header-panel>
    </div>
    <!-- MAIN CONTENT & TOPBAR -->
    <div main>
      {{>mainContent}}
    </div>
  </paper-drawer-panel>
</template>
