<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../components/hypervideo-node/hypervideo-preview.html">
<link rel="import" href="../../components/grid-container/grid-container.html">

<dom-module id="subject-preview">
  <style>
    .wrapper {
      height: 300px;
    }
    #backcanvas {
      padding-top: 15px;
      position: absolute;
      width: 100%;
      height: 280px;
      background-color:rgba(246,246,246,1);/*var(--light-divider-color);*/
    }
    #backcanvas canvas{
      width: 100%;
      height: 100%;
    }
    #gridarea {
      position: absolute;
      width: 95%;
      height: 245px;
    }
    #hypers {
      position: absolute;
      top:15px;
    }
  </style>
  <template>
    <div class="wrapper">
      <div id="backcanvas">
        <div id="gridarea"></div>
        <canvas id="canvas"></canvas>
      </div>
      <grid-container id="hypers">
      </grid-container>
    </div>
  </template>
  <script>
  Polymer({
    is: 'subject-preview',
    properties: {
      subject: {
        type: Object,
        value: null,
      },
      hypervideos: {
        type: Array,
        value: function() {
          return [];
        },
        observer: "presentHypervideos"
      }
    },
    attached: function() {
      Polymer.dom.flush();
      var self = this;
      self.$.hypers.bounds = self._getGridBounds();
    },
    presentHypervideos: function() {
      var self = this;
      if(self.hypervideos) {
        self.$.hypers.clearNodes();
        self.$.hypers.bounds = self._getGridBounds();
        for(var i=0; i< self.hypervideos.length; i++) {
          var hypervideo = self.hypervideos[i];
          var preview = new hypervideoPreview(hypervideo);
          self.$.hypers.appendGridChild(preview);
        }
        this._drawConnections();
      }
    },
    onResize: function() {
      this.$.hypers.bounds = this._getGridBounds();
      this._drawConnections();
    },
    _getGridBounds: function() {
      var self = this;
      var rect = self.$.gridarea.getBoundingClientRect();
      var bounds = {
        width: rect.right - rect.left,
        height: rect.bottom - rect.top,
        x: rect.left,
        y: rect.top + 10
      }
      return bounds;
    },
    _drawConnections: function() {
      var self = this;
      if(self.subject) {
        var canvasScale = 3;
        var lineWidth = 4;
        var connections = self.subject.connections;
        var canvas = self.$.canvas;
        canvas.width  = canvasScale * canvas.offsetWidth;
        canvas.height = canvasScale * canvas.offsetHeight;
        var ctx = canvas.getContext("2d");

        ctx.beginPath();
        for(var i=0; i< connections.length; i++) {
          var conn = connections[i];
          var first = self._findHypervideoNode(conn.first);
          var second = self._findHypervideoNode(conn.second);
          if(first && second) {
            var firstPos = first.getPos();
            var secondPos = second.getPos();
            var x1 = canvasScale * (firstPos.x);
            var y1 = canvasScale * (firstPos.y);
            var x2 = canvasScale * (secondPos.x);
            var y2 = canvasScale * (secondPos.y);
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
          }
        }
        ctx.lineWidth = lineWidth;
        ctx.stroke();
      }
    },
    _findHypervideoNode: function(id) {
      var self = this;
      return self.$.hypers.querySelector('#_'+id);
    },
  });
  </script>
</dom-module>
