<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">

<dom-module id="question-composer">
  <style media="screen">
    #wrapper {
      position: relative;
      height: auto;
      color: #727272;/*var(--secondary-text-color)*/
      width: 92%;
      padding: 5px 10px 0 10px;
    }
    p {
      margin: 0px;
      padding: 10px 5px 0 0;
      max-width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    iron-icon {
      float: right;
      margin-top: -22px;
    }
    #toggle {
      height: 0;
      overflow: hidden;

      -webkit-transition:all .2s ease;
      -moz-transition:all .2s ease;
      -ms-transition:all .2s ease;
      -o-transition:all .2s ease;
      transition:all .2s ease;
    }
    paper-slider.green {
      --paper-slider-knob-color: #12AE28;
      --paper-slider-active-color: #12AE28;
      --paper-slider-pin-color: #12AE28;
    }
  </style>
  <template>
    <div id="wrapper">
      <p>{{name}}</p>
      <template is="dom-if" if="{{!opened}}">
        <iron-icon icon="expand-more"
        class="animated fadeIn"
        on-tap="toggleDetails"></iron-icon>
      </template>
      <template is="dom-if" if="{{opened}}">
        <iron-icon icon="expand-less"
        class="animated fadeIn"
        on-tap="toggleDetails"></iron-icon>
      </template>
      <div id="toggle">
        <paper-input id="questionName"
          name="name"
          label="Nome da Questão"
          value="{{name}}"
          on-change="updateQuestionName">
        </paper-input>
        <paper-textarea id="questionDescription"
          name="description"
          label="Descrição da Questão"
          on-change="updateQuestionDescription">
        </paper-textarea>
        <span>visibilidade</span>
        <paper-slider pin
          value="{{question.visibility}}"
          class="green" min="1" max="5"
          on-change="visibilityChanged">
        </paper-slider>
        <template is="dom-repeat" items="{{answers}}" as="answer">
          <paper-input name="name"
            label="{{answerLabel(index)}}"
            on-focus="handleAnswerFocus"
            value="{{answer}}"
            on-change="updateQuestionAnswer">
          </paper-input>
        </template>
        <template is="dom-if" if="{{!maxAnswers}}">
          <paper-icon-button icon="add" on-tap="addAnswer"></paper-icon-button>
        </template>
      </div>
    </div>
  </template>
  <script>
    QuestionComposer = Polymer({

      is: 'question-composer',
      properties: {
        maxAnswers: {
          type: Boolean,
          value: false
        },
        question: {
          type: Object,
          observer: "questionChanged"
        },
        name: {
          type: String,
          notify: true
        },
        answers: {
          type: Array,
          notify: true
        },
        opened: {
          type: Boolean,
          value: false
        }
      },
      ready: function () {
        var self = this;
        self.questionChanged();
      },
      toggleDetails: function() {
        var self = this;
        if(self.opened) {
          self.$.toggle.style.height = "0";
        }
        else {
          self._setCurrentHeight();
        }
        self.opened = !self.opened;
      },
      questionChanged: function(newValue) {
        var self = this;
        if(self.question) {
          self.name = self.question.name;
          self.answers = self.question.answers;
        }
      },
      updateQuestionName: function(e) {
        var input = e.target;
        this.name = input.value;
        this.question.name = this.name;
        this.fire('question-changed');
      },
      updateQuestionDescription: function(e) {
        var self = this;
        var input = e.target;
        self.question.description = input.value;
        self._setCurrentHeight();
        this.fire('question-changed');
      },
      updateQuestionAnswer: function(e) {
        var input = e.target;
        this.answers[this._answerIndex] = input.value;
        this.fire('question-changed');
      },
      handleAnswerFocus: function(e){
        var value = e.target.value;
        this._answerIndex = this.question.answers.indexOf(value);
      },
      answerLabel: function(index) {
        return "Resposta "+ (index+1);
      },
      addAnswer: function() {
        var self = this;
        var questionAns = self.question.answers;
        if(questionAns.length < 5) {
          var answers = questionAns.splice(0,questionAns.length);
          answers.push("Resposta "+ (answers.length+1));
          self.answers = answers;
          self.question.answers = answers;
          self._setCurrentHeight();
          this.fire('question-changed');
        } if(self.maxAnswers === 5){
          self.maxAnswers = true;
        }
      },
      visibilityChanged: function(e) {
        var input = e.target;
        this.question.visibility = input.value;
        this.fire('question-changed');
      },
      _setCurrentHeight: function() {
        var height = this.$.toggle.scrollHeight;
        this.$.toggle.style.height = height+"px";
      },
    });
  </script>
</dom-module>
